.trailer-container{
    position: relative;
    min-width: 100%;
}

.trailer-container img {
    width: 100%;
}

.trailer-infos{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    z-index: 6;
}

.trailer-movie-infos{
    display: flex;
    gap: 50px;
    max-width: 1600px;
    padding: 0 20px;
}

.trailer-movie-infos h1{
    color: #fff;
    font-size: 4rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.trailer-movie-infos h3{
    margin-top: 20px;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.trailer-left{
    width: 50%;
}

.trailer-left button{
    margin-top: 20px;
    background-image: linear-gradient(60deg, #4703A6, #4703A6, #6a00ff);
    background-size: 250%;
    background-position: left;
    color: #fff;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.trailer-left button:hover{
    background-position: right;
}

.trailer-movie-details{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.trailer-runtime, .trailer-rating{
    display: flex;
    align-items: center;
    gap: 10px;
}

.trailer-movie-details span{
    color: #fff;
    font-size: 1rem;
}

.trailer-runtime-icon{
    color: #fff;
    font-size: 1.6rem;
}

.trailer-rating-icon{
    color: #ffae00;
    font-size: 1.6rem;
}

.trailer-date{
    background-color: #D8315B;
    padding: 1px 10px;
    border-radius: 10px;
}

.trailer-genres{
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.trailer-genres span{
    color: #fff;
}


/* responsive */


@media screen and (max-width: 1270px) {
    .trailer-left{
        min-width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .trailer-container img {
        height: 800px;
        object-fit: cover;
        object-position: top;
    }

    .trailer-movie-infos{
        margin-top: 50px;
    }

    .trailer-movie-infos h1{
        font-size: 3rem;
    }

    .trailer-movie-infos h3{
        font-size: .9rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 800px) {
    .trailer-movie-infos h1{
        font-size: 2.5rem;
    }

    .trailer-movie-infos h3{
        font-size: .9rem;
        -webkit-line-clamp: 2;
    }

    .trailer-movie-details span{
        font-size: .8rem;
    }

    .trailer-runtime-icon, .trailer-rating-icon{
        font-size: 1.2rem;
    }

    .trailer-genres span{
        font-size: .8rem;
    }
    
}

@media screen and (max-width: 600px) {
    .trailer-container img {
        height: 600px;
    }

    .trailer-left{
        min-width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .trailer-movie-infos h1{
        font-size: 2rem;
    }

    .trailer-movie-infos h3{
        font-size: .8rem;
        -webkit-line-clamp: 2;
    }

    .trailer-left button{
        padding: 15px 30px;
        font-size: .8rem;
    }
}