.carousel-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.carousel-container h2{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: normal;
}

.carousel-container > h2 span{
    color: #d8315b;
    font-size: 1.3rem;
    margin-right: 10px;
}

.carousel{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.prev-card{
    position: absolute;
    top: 60px;
    left: -1px;
    width: 100px;
    height: calc(100% - 60px);
    background-image: linear-gradient(to left, transparent, #000);
}

.icon-prev{
    position: absolute;
    top: 40%;
    left: 0px;
    transform: translate(0, -50%);
    color: #4703A6;
    font-size: 3rem;
    cursor: pointer;
}

.next-card{
    position: absolute;
    top: 60px;
    left: calc(100% + 1px);
    transform: translate(-100%, 0);
    width: 100px;
    height: calc(100% - 60px);
    background-image: linear-gradient(to right, transparent, #000);
}

.icon-next{
    position: absolute;
    top: 40%;
    left: calc(100% - 50px);
    transform: translate(0, -50%);
    color: #4703A6;
    font-size: 3rem;
    cursor: pointer;
}