header{
    padding: 15px 0;

    position: absolute;
    z-index: 7;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: #4703A6;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header ul li {
    list-style: none;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}