header{
    padding: 15px 0;

    position: absolute;
    z-index: 7;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

.logo{
    font-size: 2rem;
    font-weight: 600;
    color: #4703A6;
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
}

.header-search-container{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 0 10px;
    border: 2px solid transparent;
}

.header-search-container-border{
    border: 2px solid #4703A6;
}

.header-search-input{
    opacity: 0;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 0px;
    outline: none;
    background-color: transparent;
    color: #fff;
    transition: width .5s ease-in-out;
}

.header-search-input:focus{
    opacity: 1;
    width: 300px;
}

.header-search-icon{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: color .5s ease-in-out;
}

.header-search-icon:hover{
    color: #4703a6;
}

@media screen and (max-width: 670px) {
    .header-search-input:focus{
        opacity: 1;
        width: 200px;
    }
}

@media screen and (max-width: 480px) {
    .logo{
        font-size: 1.8rem;
    }

    .header-search-input:focus{
        opacity: 1;
        width: 125px;
    }
}

@media screen and (max-width: 350px) {
    .header-search-input:focus{
        opacity: 1;
        width: 90px;
    }
}
