.my-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
}

.my-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    border-radius: 10px;
    padding: 60px 20px;
    outline: none;
}

.section1-player{
    border-radius: 10px;
    overflow: hidden;
}
